.text {  border: #4E6A82; border-style: solid; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; background-color: #ffffff}
.top {
	font-family: "ו";
	font-size: xx-large;
	font-style: normal;
	color: #FFFFFF;
	font-weight: bold;
}
.p14{ font-size:14; font-weight:bold;}