<STYLE type=text/css>BODY {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: ו
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: ו
}
A:link {
	FONT-SIZE: 12px; COLOR: #333333; text-decoration: none
}
A:vlink {
	FONT-SIZE: 12px; COLOR: #333333; text-decoration: none
}
A:visited {
	FONT-SIZE: 12px; COLOR: #333333; text-decoration: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #FBB867; text-decoration: none
}
BODY {	FONT-SIZE: 12px; scrollbar-face-color:#ffffff; scrollbar-shadow-color:#374756; scrollbar-highlight-color:#374756; scrollbar-3dlight-color:#D7D7D7; scrollbar-darkshadow-color:#D7D7D7; scrollbar-track-color:#D7D7D7; scrollbar-arrow-color:#374756}
</STYLE>
